<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- This tells the browser I want the width to be the
  viewport of the device -->
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="stylesheet" href="/static/css/third_party/third_party.css">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>
MedMinder</title>

</head>

<body>
  <div class ="container">
      <h1>
        <i class="fa fa-medkit"></i>MedMinder
      </h1>

    <h3>
      <i>
        Empowering patients to take control of their health
      <i class="fa fa-heartbeat"></i>

      </i>
    </h3>
  </div>



<nav class="navbar navbar-default potatoes">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
<!-- ids are more for javascript, classes are more for CSS -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">
          <i class="fa fa-home"></i>
          Home <span class="sr-only">(current)</span></a></li>
        <li>

          <a href="/sign-up">
            <i class="fa fa-user-plus">
            </i>
            Sign Up!
          </a>

        </li>
        <li>
          <a href="/login">
            <i class="fa fa-sign-in">
            </i>

            Login Here
          </a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar">
        <li>
          <a href="/register">
            <i class="fa fa-plus-square">
            </i>
            Register Medicines
          </a>
        </li>
        <li><a href="/show_meds">
          <i class="fa fa-info-circle"></i>
          Current Medicines</a></li>
        <li><a href="/doctor_registration">
        <i class="fa fa-plus-square"></i>
          Register Appointments</a></li>
        <li><a href="/your_doctors">
          <i class="fa fa-user-md"></i>
        Upcoming Appointments</a></li>
        <li><a href="/logout">
          <i class="fa fa-sign-out"></i>
          Log out</a></li>

      </ul>
    </div>
  </div><!-- /.container-fluid -->
</div>
</nav>

<div class="container">
  <div class=" row alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
{% for flash in get_flashed_messages() %}
  {{ flash }}<br>
{% endfor %}
  </div>

{% block content %}
    Put your body here.
{% endblock %}

</div>


</body>

<footer>
  <center>
  <br>
  <br>
  <br>
  MedMinder
<i class="fa fa-copyright"></i>
2016 - Made by:
<a href="https://www.linkedin.com/in/parbona">Patricia Arbona</a>

  <i class="fa fa-heartbeat"></i>
</center>
</footer>
</html>