<!doctype html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<!-- JQuery library: -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <title>MedMinder!</title>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display --

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Homepage <span class="sr-only">(current)</span></a></li>
        <li><a href="/sign-up">New User? Sign Up!</a></li>
        <li><a href="/login">Login Here</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register">Register Medicines</a></li>
        <li><a href="/show_meds">Current Medicines</a></li>
        <li><a href="/doctor_registration">Register Doctor's Appointments</a></li>
        <li><a href="/your_doctors">Upcoming Doctor's Appointments</a></li>
        <li><a href="/logout">Log out!</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
</nav>
</head>
<body>




{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}
    </div>


</body>
</html>