{% extends 'base.html' %}
{% block content %}
<h1>
    Hello and welcome, {{ user.first_name }}!
</h1>

<h5>
    <i class="fa fa-user"></i>
    You are currently logged in as {{ user.email }}.
</h5>
<br>

<h3>
    <i class="fa fa-user-md">
    </i>
    Doctor's appointments dashboard:


</h3>

{%for doc in all_doctors%}
    <ul>
        <li> <i class="fa fa-stethoscope"></i> Doctor's name: {{ doc.doctor_name}} </li>
        <li> <i class="fa fa-heartbeat"></i> Condition for which you see this particular doctor for: {{ doc.condition }} </li>
        <li> <i class="fa fa-phone"></i> Doctor's office phone number: {{ doc.phone }} </li>
        <li> <i class="fa fa-map-marker"></i> Doctor's office address: {{ doc.office_address }} </li>
        <li> <i class="fa fa-clock-o"></i> Doctor appointment time: {{ doc.appointment_date }} </li>
    </ul>
{% endfor %}
<br>


{% endblock %}