{% extends 'base.html' %}
{% block content %}
    <h1 id="homepage-title">
        <strong>
            Medicine Tracker
        </strong>
    </h1>
    <br>
        <label for="Welcome">
        <h3 id ="Welcome">Always forgetting your meds? Join the club. </h3>
        </label>
        <br>
        <label for="sign-up">
        <p><a href ="/sign-up" id="sign-up">New User? Click here to create a user-name!</a></p>
        </label>
        <label for="login">
        <p><a href="/login" id="login"> Already a user? Clicke here to sign-in</a></p>
        </label>
        <label for="register">
        <br>
        <p><a href="/register" id="register">Click here to register your medicine</a></p>
        <br>
        </label>
        <label for="logout">
        <p><a href="/logout" id="logout">LOGOUT!</a>
        </p>
        </label>
        <p>
            <marquee>you're a rockstar&hearts;&hearts;&hearts;</marquee>
        </p>        
 {% endblock %}