{% extends 'base.html' %}
{% block content %}

<h1> Hello and welcome, {{ user.first_name }} ! </h1>
<br>
<h2> You are currently signed in as {{ user.email }} </h2>

<h4>
    <a href="/logout">Click here to sign out </a>
</h4>

<h3>This is your prescription dashboard:</h3>
<br>
{{ meds }}
<br>
This is your user profile object: <br>
{{ user }}
<br>
<i>Prescription information: </i>
<ol>

{% for med in meds %}
    <br>
    <li>Medication name: {{ med.med_name }}</li>
        <ul>
            <li>Side effects: {{ med.side_effects }}</li>
            <li>Reason for taking medication: {{ med.reason }}</li>
            <li>Black box warnings: {{ med.black_box_warning }}</li>
            <li>Is this taken with food? {{ med.food }} </li>
            <li>Is this taken with drink? {{ med.drink }} </li>
            <li> How many times a day do you take your meds? {{ med.dosage_timing }} </li>
            <li> Each time you take this medicine, how many units of this medicine do you take? {{ med.dosage_quantity }} </li>
            <li>You took your first dose of {{ med.med_name }} ever at {{ med.first_dose }}</li>
    <br>

        </ul>
</ol>
{% endfor %}
<br>
Dosage time object:
{{ rx_timestamp }}
<br>
<br>
{% for med in meds %}
<br>
<ol><li>Upcoming medication times for: {{ med.med_name}}</li></ol>
{% endfor %}
    {% for timestamp in rx_timestamp%}
    <ul>

    <li>{{ timestamp.timestamp }}</li>
</ul>
{% endfor %}
<br>

<i>Refill information:</i>
<ol>
    {% for refill in meds %}

        <li>Medication name: {{ refill.med_name }} </li>
            <ul>
                <li>Refills remaining: {{ refill.refills_remaining }} </li>
            </ul>




    {% endfor %}
</ol>

<i>Appointments:</i>
<ol>
    To be announced
</ol>

{% endblock %}

