{% extends 'base.html' %}
{% block content %}

<h1> Hello and welcome, {{ user.first_name }} ! </h1>

<h5> <i class="fa fa-user"></i>
    You are currently signed in as {{ user.email }} </h5>
<br>
<div id="prescription-html">
<h3><i class="fa fa-medkit"></i>
    Your prescription dashboard:</h3>

<br>
<i>
    <i class="fa fa-info-circle"></i>
    </i>
    Prescription information:
</i>


{% for med in meds %}
    <br/>
    <ol>Medication name: {{ med.med_name }}</ol>
    <ul>
        <li>Reason for taking medication: {{ med.reason }}</li>
        <li>Is this taken with food? {{ med.food }} </li>
        <li>Is this taken with drink? {{ med.drink }} </li>
        <li> Each time you take this medicine, how many units of this medicine do you take? {{ med.dosage_quantity }} </li>
        <br/>
    </ul>
{% endfor %}


<ul>

    <!-- the following loops over dictionary created in server.py: -->
    {% for m in meds %}
        <li><i class="fa fa-clock-o"></i> Upcoming prescription times for: {{ m.med_name }}
            <ul>
                {% for time in m.schedule %}
                    <li>{{ time.timestamp }}</li>

                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<br>
<br>

<h3>
    <i class="fa fa-envelope">
    </i>
    Email me upcoming prescription reminder:
</h3>


    <form action="/send-email" method="POST">
                  <label>Email: <input type="text" name="email"></label>

                  <input type="submit" class="btn btn-default" value="send">
              </form>

<br/>
<br/>

{% endblock %}

