{% extends 'base.html' %}
{% block content %}
<marquee>
    <h1>Register - Tell me a little about yourself!</h1>
    <br>
</marquee>
<form action ="/medication" method="POST">
    <input type="date"/>
    <br>
    <label for="reason">Condition associated with this medicine:</label>
    <input type="text" id="reason" name = "reason" placeholder="Insert condition here">
    <br>
    <label for="med_name">Name of medication:</label>
    <br>
    <input type="text" id="med_name" name = "med_name" placeholder="Insert name of medication here">
    <br>
    <label for="side_effects">Any known side-effects from this medicine?</label>
    <br>
    <input type="text" id="side_effects" name = "side_effects" placeholder="Insert side effects here">
    <br>
    <label for="starting_amount"> Starting amount of medicine: </label>
    <br>
    <input type="text" id="side_effects" name = "starting_amount" placeholder="Insert starting amount of medicine here">
    <br>
    <label for="refills_remaining"> Number of Refills remaining:</label>
    <br>
    <input type="text" id="refills_remaining" name = "refills_remaining" placeholder="Insert # of refills remaining here">
    <br>
    <label for="black_box_warning"> Black-box warnings: </label>
    <br>
    <input type="text" id="black_box_warning"name = "black_box_warning" placeholder="Insert black box warning here">
    <br>
    <label for="dosage_quantity"> Dosage: </label>
    <br>
    <input type="number" min="1" max="10" id="dosage_quantity" name = "dosage_quantity" placeholder="Insert dosage here">
    <br>
    <label for="dosage_timing">How many times a day are you taking this medicine? </label>
    <br>
    <input type="text" id="dosage_timing" name = "dosage_timing" placeholder="Insert dosage here">
    <br>    
    <label for="food">Is this medication taken with food?
    <br>
    Check the corresponding checkbox for 'True' or 'False'.
    <br>
    </label>
    <input type="checkbox" id="food" name = "food" value="T"> True
    <input type="checkbox" id="food" name = "food" value="F"> False
    <br>
    <label for="water">
        Is this medication taken with water?
    <br>
    Check the corresponding checkbox for 'True' or 'False'.
    <br>
    </label>
    <input type="checkbox" id="water" name = "water" value= "T"> True
    <input type="checkbox" id="water" name = "water" value= "F"> False
    <br>
    <input type="submit" value="Press here to submit!" > 
</form>
{% endblock %}