{% extends 'base.html' %}
{% block content %}
<h1>
    <strong>

     <i class="fa fa-user-plus">
    </i>Sign-Up

    </strong>
</h1>

<h3>

Begin your journey towards improved quality of life

</h3>



<form action="/sign-up" method="POST">

<div class="form-group">
    <label for = "first_name">First name:

        <input class='form-control' type="text" id="first_name" name="first_name" placeholder="Insert first name here">
    </label>
</div>
<div class="form-group">
    <label for="last_name">
    Last name:
        <input class='form-control' type="text" id="last_name" name="last_name" placeholder="Insert last name here">
    </label>
</div>
<div class="form-group">
    <label for="email">

    Email:

        <input class='form-control' type="text" id="email" name="email" placeholder="Insert email here">
    </label>
</div>

<div class="form-group">

    <label for="password">
    Password:

        <input class='form-control' type="password" id="password" name="password" placeholder="Insert password here">
    </label>
</div>

<div class="form-group">
    <label for="phone_number">

    Phone number:

        <input class='form-control' type="text" id="phone_number" name="phone_number" placeholder="Insert phone number here">
    </label>

</div>

<input type="submit" value="Sign-Up" >

</form>
{% endblock %}